<div class="body">
      <!-- NAVBAR -->
      <app-navbar></app-navbar>
      <!-- MAIN start-->
      <div class="main container">
        <img src="../../assets/images/eureka_logo.png" alt="">
        <div class="texts">
            <h2>ASIA’S LARGEST BUSINESS MODEL COMPETITION</h2>
            <h2 style="margin-left: 200px;" >PRIZES WORTH 1 CRORE</h2>
        </div>
        <div class="butbut">
            <button type="button" class="btn btn-primary btn-lg btn-success">Large button</button>
        </div>
    </div>
    <!-- MAIN END -->
    <!-- WHAT IS EUREKA START -->
    <div class="container-fluid boxy">
        <div class="container what-eureka">
            <h3>What is Eureka?</h3>
            <p>
                Eureka - Asia’s largest Business Model Competition
                Eureka - Asia’s largest Business Model Competition
                Eureka - Asia’s largest Business Model Competition
                Eureka - Asia’s largest Business Model Competition
            </p>
        </div>
        <div class="container vision">
            <h3>Vision</h3>
            <p>
                Eureka - Asia’s largest Business Model Competition
                Eureka - Asia’s largest Business Model Competition
                Eureka - Asia’s largest Business Model Competition
                Eureka - Asia’s largest Business Model Competition
            </p>
        </div>
        <div class="container-fluid">
            <app-testimonial></app-testimonial>
        </div>
        <app-stats></app-stats>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>
