<div class="body">
    <app-navbar></app-navbar>
    <div class="heading-top">
        <h2>TIMELINE</h2>
    </div>
    <div>
        <div class="container">
            <div class="heading-rounds">
                <h2>ZONAL ROUND</h2>
            </div>
            <div class="row stages">
                <div class="col stage stage-1">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-1"></div>
                </div>
                <div class="col stage stage-2">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-2" ></div>
                </div>
                <div class="col stage stage-3">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-3"></div>
                </div>
                <div class="col stage stage-4">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-4"></div>
                </div>
                <div class="col stage stage-5">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-5"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="heading-rounds">
                <h2>BUSINESS MODAL ROUND</h2>
            </div>
            <div class="row stages">
                <div class="col stage stage-1">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-5"></div>
                </div>
                <div class="col stage stage-2">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-2" ></div>
                </div>
                <div class="col stage stage-3">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-3"></div>
                </div>
                <div class="col stage stage-4">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-4"></div>
                </div>
                <div class="col stage stage-5">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-1"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="heading-rounds">
                <h2>PITCHING ROUND</h2>
            </div>
            <div class="row stages">
                <div class="col stage stage-1">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-1"></div>
                </div>
                <div class="col stage stage-2">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-2" ></div>
                </div>
                <div class="col stage stage-3">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-3"></div>
                </div>
                <div class="col stage stage-4">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-4"></div>
                </div>
                <div class="col stage stage-5">
                    <h4>11th - 12th December</h4>
                    <h3>Stage name</h3>
                    <div class="grad-line line-5"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container structure">
        <div class="heading-rounds-white">
            <h2>STRUCTURE</h2>
        </div>
        <div>
            <div class="tabs">
                <input type="radio" name="tab" id="tab1" checked="checked">
                <label for="tab1" style="  border-radius: 1.5rem 0px 0px 1.5rem;">ZONAL ROUND</label>
                <input type="radio" name="tab" id="tab2">
                <label for="tab2">BUSINESS MODAL ROUND</label>
                <input type="radio" name="tab" id="tab3">
                <label for="tab3" style="  border-radius: 0rem 1.5rem 1.5rem 0rem;">PITCHING ROUND</label>
              
                <div class="tab-content-wrapper">
                  <div id="tab-content-1" class="tab-content">
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE a</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE b</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE c</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE d</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE e</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE f</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                      </div>
                  <div id="tab-content-2" class="tab-content">
                    
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE g</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE h</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE i</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE j</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE k</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>                  </div>
                  <div id="tab-content-3" class="tab-content">
                    
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE l</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE m</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE n</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                    <div class="card">
                        <div class="ace">
                            <h4>QUESTIONNAIRE o</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                          </div>
                        </div>
                       </div>
              </div>
        </div>
    </div>
    <div>
        <div class="heading-rounds-white">
            <h2>JUDGING CRITERIA</h2>
        </div>
        <div class="criteria">
            <ul>
                <li>First Point</li>
                <li>First Point</li>
                <li>First Point</li>
                <li>First Point</li>
                <li>First Point</li>
            </ul>
        </div>
    </div>


    <!-- <app-footer></app-footer> -->
</div>
<div class="rounded">
    <div class="heading-rounds">
        <h2>RULES</h2>
    </div>
    <div>
        <div class="tabs">
            <input type="radio" name="tabs" id="tab4" checked="checked">
            <label for="tab4" style="  border-radius: 1.5rem 0px 0px 1.5rem;">ZONAL ROUND</label>
            <input type="radio" name="tabs" id="tab5">
            <label for="tab5">BUSINESS MODAL ROUND</label>
            <input type="radio" name="tabs" id="tab6">
            <label for="tab6" style="  border-radius: 0rem 1.5rem 1.5rem 0rem;">PITCHING ROUND</label>
          
            <div class="tab-content-wrapper">
              <div id="tab-content-4" class="tab-content">
                <div class="card-2">
                    <div class="ace-2">
                        <h4>QUESTIONNAIRE1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                      </div>
                    </div>
                  </div>
              <div id="tab-content-5" class="tab-content">
                
                <div class="card-2">
                    <div class="ace-2">
                        <h4>QUESTIONNAIRE7</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                      </div>
                    </div>
                </div>
              <div id="tab-content-6" class="tab-content">
                <div class="card-2">
                    <div class="ace-2">
                        <h4>QUESTIONNAIRE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
                      </div>
                    </div>
                </div>
          </div>
    </div>
</div>
</div>
<div class="backg">
    <app-footer></app-footer>
</div>
