<!--<div class="body">
    <app-navbar></app-navbar>
<div>
    <div class="heading-rounds-white">
        <h2>TRACKS</h2>
    </div>
    <div class="criteria">
        <div class="card">
            <div class="card-in">
                <h2>comapny logo</h2>
            </div>
            <div class="ace">
                <h4>QUESTIONNAIRE k</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
              </div>
            </div>
        <div class="card">
            <div class="card-in">
                <h2>comapny logo</h2>
            </div>
            <div class="ace">
                <h4>QUESTIONNAIRE k</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. </p>
              </div>
            </div>
    </div>
</div>
    <app-footer></app-footer>
</div>
-->



<head>
    <link rel="stylesheet" href="tracks.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<div class="body">
  <app-navbar></app-navbar>
    
    <div class = "title"> Tracks </div>

<div class="cards d-flex flex-wrap justify-content-around align items center">
   
<div class="card crd">

<div class="toptitle"><img class="card-img-top" src="../../assets/images/incentive-Sustainable_and_Affordable_Energy_Track-8- 1.png" alt="Card image cap"></div>
    
    <div class="card-body">

       
            <h5 class="card-title">
              <div class="cardtitle align-items-center d-flex justify-content-center">
              SIDBI SALESKEN TRACK </div>
            </h5>
        
            <div class="card-text">
              <div class="cardtext">
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>  
             </div>
             <div class="cashtext align-items-center d-flex justify-content-center">
              CASH PRIZE : INR 1.5 LAKH
             </div>
            </div>

        <a href="#" class="btn align-items-center d-flex justify-content-center"> 
          <div class="cardbtn">
            <div class="btntext">know more</div>
          </div>
        </a>
      

    </div>

  </div>

  <div class="card crd">
  
  <div class="toptitle"><img class="card-img-top" src="../../assets/images/incentive-Sustainable_and_Affordable_Energy_Track-8- 1.png" alt="Card image cap"></div>
      
      <div class="card-body">
  
              <h5 class="card-title">
                <div class="cardtitle align-items-center d-flex justify-content-center">
                SIDBI SALESKEN TRACK </div>
              </h5>
          
              <div class="card-text">
                <div class="cardtext">
                Eureka - Asia’s largest Business on <br>
                Eureka - Asia’s largest Business on <br>
                Eureka - Asia’s largest Business on <br>
                Eureka - Asia’s largest Business on <br>  
               </div>
               <div class="cashtext align-items-center d-flex justify-content-center">
                CASH PRIZE : INR 1.5 LAKH
               </div>
              </div>
  
          <a href="#" class="btn align-items-center d-flex justify-content-center"> 
            <div class="cardbtn">
              <div class="btntext">know more</div>
            </div>
          </a>
        
  
      </div>
  
    </div>

    <div class="card crd" >

<div class="toptitle"><img class="card-img-top" src="../../assets/images/incentive-Sustainable_and_Affordable_Energy_Track-8- 1.png" alt="Card image cap"></div>
    
    <div class="card-body">

       
            <h5 class="card-title">
              <div class="cardtitle align-items-center d-flex justify-content-center">
              SIDBI SALESKEN TRACK </div>
            </h5>
        
            <div class="card-text">
              <div class="cardtext">
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>  
             </div>
             <div class="cashtext align-items-center d-flex justify-content-center">
              CASH PRIZE : INR 1.5 LAKH
             </div>
            </div>

        <a href="#" class="btn align-items-center d-flex justify-content-center"> 
          <div class="cardbtn">
            <div class="btntext">know more</div>
          </div>
        </a>
      

    </div>

  </div>

  <div class="card crd">

<div class="toptitle"><img class="card-img-top" src="../../assets/images/incentive-Sustainable_and_Affordable_Energy_Track-8- 1.png" alt="Card image cap"></div>
    
    <div class="card-body">

       
            <h5 class="card-title">
              <div class="cardtitle align-items-center d-flex justify-content-center">
              SIDBI SALESKEN TRACK </div>
            </h5>
        
            <div class="card-text">
              <div class="cardtext">
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>
              Eureka - Asia’s largest Business on <br>  
             </div>
             <div class="cashtext align-items-center d-flex justify-content-center">
              CASH PRIZE : INR 1.5 LAKH
             </div>
            </div>

        <a href="#" class="btn align-items-center d-flex justify-content-center"> 
          <div class="cardbtn">
            <div class="btntext">know more</div>
          </div>
        </a>
      

    </div>

  </div>
</div>
<app-footer></app-footer>
</div>







