<div class="container" id="why" style="margin-top:5vh;" data-aos="fade-right">
    <p id="lable_ca" style="font-size: 3rem; font-weight: 400; text-align: center;" class="about_us_media">Previous Year Achievements</p>
    <div class="row" style="justify-content: center;">
      
        <div class="row">
          <div class="col-4" style="text-align: center;">
            <p  id="t_s1" class="count">{{entrycount}}+</p>
            <p>ENTRIES</p>
          </div>
          <div class="col-4" style="text-align: center;" >
            <p   id="t_s2" class="count">{{mentorcount}}+</p>
            <p>MENTORS</p>
          </div>
          <div class="col-4" style="text-align: center;" >
            <p   id="t_s3" class="count">{{prizescount}} lakhs</p>
            <p>PRIZE WORTH</p>
          </div>
          <div class="col-4" style="text-align: center;" >
            <p   id="t_s4" class="count">{{yearcount}}</p>
            <p>YEARS</p>
          </div>
        </div>
    </div>
  </div>