<div>
    <div class="foot">
        <div class="row-1">
            <img src="../../../assets/images/ecell-logo2.png" alt="">
            <p>E-Cell IIT Bombay is Asia’s Largest
                Entrepreneurship promoting student
                body and we build startup ecosystem
                on both the sides of the wall </p>
            <h4>CREATING JOB CREATORS</h4>
        </div>
        <div class="row-3">
            <div style="width: 50%;">
                <h4>QUICK LINKS</h4>
                <h5>E-Summit</h5>
                <h5>NEC</h5>
                <h5>Eureka! Junior</h5>
                <h5>EnB</h5>
                <h5>FInCoF</h5>
                <h5>SSP</h5>
            </div>
            <div style="width: 50%;">
                <h4>
                    REACH OUT
                </h4>
                <h5 class="address">
                    E-Cell Office <br>
                    Student Activity<br>
                    Centre (SAC)<br>
                    IIT Bombay<br>
                    Powai<br>
                    Mumbai, India<br>
                </h5>
                </div>
        </div>
        
    </div>
    <div class="foot-2">
        <div class="row-2">
            <h5>Contact Us:</h5>
            <h6>+91  77230 57913 | eureka@ecell.in</h6>
        </div>
        <div class="socials">
            <h5>Follow Us:</h5>
            <div class="social">
                <div><i class="fa-brands fa-facebook-f fa-2xl"></i></div>
                <div><i class="fa-brands fa-linkedin-in fa-2xl"></i></div>
                <div><i class="fa-brands fa-instagram fa-2xl"></i></div>
                <div><i class="fa-brands fa-twitter fa-2xl"></i></div>
                <div><i class="fa-brands fa-youtube fa-2xl"></i></div>
            </div>
        </div>
        
    </div>
</div>